body {
    font-family: Arial, sans-serif;
    background: black;
    color: white;
    text-align: center;
}

header {
    background: red;
    padding: 10px;
}

#pesquisa {
    padding: 5px;
    width: 50%;
}

.banner img {
    width: 100%;
    max-height: 300px;
}

#lista-filmes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filme {
    margin: 10px;
    background: #222;
    padding: 10px;
    border-radius: 5px;
}

.filme img {
    width: 150px;
    border-radius: 5px;
}
